{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "tsconfig.json",
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "@typescript-eslint/array-type": "off",
        "@typescript-eslint/indent": [
            "warn",
            4
        ],
        "@typescript-eslint/interface-name-prefix": "off",
        "@typescript-eslint/member-delimiter-style": [
            "error",
            {
                "multiline": {
                    "delimiter": "semi",
                    "requireLast": true
                },
                "singleline": {
                    "delimiter": "semi",
                    "requireLast": false
                }
            }
        ],
        "no-undef": "error",
        "@typescript-eslint/no-empty-function": "warn",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-parameter-properties": "off",
        "@typescript-eslint/no-use-before-define": "off",
        "@typescript-eslint/prefer-for-of": "warn",
        "@typescript-eslint/no-unused-vars": "warn",
        "@typescript-eslint/prefer-function-type": "warn",
        "@typescript-eslint/explicit-function-return-type": "warn",
        "@typescript-eslint/no-var-requires": "off",
        "prefer-template": "warn",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/quotes": [
            "warn",
            "double",
            {
                "avoidEscape": true
            }
        ],
        "@typescript-eslint/semi": [
            "warn",
            "always"
        ],
        "@typescript-eslint/no-misused-promises": "warn",
        "@typescript-eslint/require-await": "warn",
        "@typescript-eslint/unified-signatures": "error",
        "complexity": "off",
        "constructor-super": "warn",
        "dot-notation": "warn",
        "import/order": "off",
        "max-classes-per-file": [
            "warn",
            3
        ],
        "new-parens": "error",
        "no-bitwise": "error",
        "no-caller": "error",
        "no-cond-assign": "error",
        "no-console": "warn",
        "no-debugger": "warn",
        "no-empty": "off",
        "no-eval": "warn",
        "no-fallthrough": "off",
        "no-invalid-this": "off",
        "no-new-wrappers": "error",
        "no-shadow": [
            "off",
            {
                "hoist": "all"
            }
        ],
        "no-var": "warn",
        "no-alert": "error",
        "no-extra-label": "warn",
        "no-extra-parens": "warn",
        "no-extra-semi": "warn",
        "no-throw-literal": "error",
        "no-const-assign": "error",
        "no-useless-return": "warn",
        "no-unreachable": "warn",
        "no-trailing-spaces": "warn",
        "no-undef-init": "error",
        "no-underscore-dangle": "error",
        "no-unsafe-finally": "warn",
        "no-unused-expressions": "warn",
        "no-unused-labels": "warn",
        "object-shorthand": "warn",
        "one-var": [
            "error",
            "never"
        ],
        "radix": "off",
        "spaced-comment": "warn",
        "use-isnan": "warn",
        "valid-typeof": "off"
    }
}
