legacy-peer-deps=true # TODO: Remove this when prism-media updates it's peerDependencies (currently peerdependency @discordjs/opus conflicts)
YOUTUBE_DL_HOST="https://api.github.com/repos/yt-dlp/yt-dlp/releases?per_page=1"
YOUTUBE_DL_FILENAME="yt-dlp"