name: Build & Push to Docker Image Registry (Docker Hub & GitHub Container Registry)

on:
  release:
    types: [created]
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/docker.yml"
      - "debian.Dockerfile"
      - "alpine.Dockerfile"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - identifier: "alpine"
            dockerfile: alpine.Dockerfile
            platforms: linux/amd64,linux/arm64/v8,linux/arm/v7,linux/arm/v6
          - identifier: "debian"
            dockerfile: debian.Dockerfile
            platforms: linux/amd64,linux/arm64/v8,linux/arm/v7
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v3.0.0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2.1.0

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1.6.0

      - name: Login to Docker Hub
        uses: docker/login-action@v1.14.1
        if: ${{ github.event_name != 'pull_request' }}
        with:
          username: hazmi35
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}


      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1.14.1
        if: ${{ github.event_name != 'pull_request' }}
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract tag name
        id: tags
        run: echo ::set-output name=name::${GITHUB_REF##*/}

      - name: Extract flavor
        id: flavor
        run: if [ "${{ matrix.identifier }}" = "alpine" ]; then echo ::set-output name=name::; else echo ::set-output name=name::-${{ matrix.identifier }}; fi

      - name: Generate Docker image metadata
        uses: docker/metadata-action@v3.7.0
        id: img_meta
        with:
          flavor: |
            latest=auto
            suffix=${{ steps.flavor.outputs.name }}
          images: |
            hazmi35/jukebox
            ghcr.io/Hazmi35/jukebox
          tags: |
            ${{ steps.tags.outputs.name }}
            latest

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2.10.0
        with:
          context: ./
          file: ./${{ matrix.dockerfile }}
          platforms: ${{ matrix.platforms }}
          push: ${{ github.event_name == 'release' }}
          tags: ${{ steps.img_meta.outputs.tags }}
          labels: ${{ steps.img_meta.outputs.labels }}


      # Well, turns out it doesn't support PAT yet. Please see https://github.com/peter-evans/dockerhub-description/issues/24 and https://github.com/docker/roadmap/issues/115
      #- name: Update repo description
      #  uses: peter-evans/dockerhub-description@v2.4.1
      #  with:
      #    username: ${{ secrets.DOCKER_HUB_USERNAME }}
      #    password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      #    repository: hazmi35/jukebox
